{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Jaqueline
          <span class="text-primary">Santos</span>
        </h1>
        <div class="subheading mb-5">WEB DEVELOPER ·
          <a href="mailto:jaquelinesa.82@gmail.com">jaquelinesa.82@gmail.com</a>
        </div>
        <p class="lead mb-5">Tenho experiência em aproveitar estruturas ágeis para fornecer uma sinopse robusta para visões gerais de alto nível.
          Abordagens iterativas para a estratégia corporativa estimulam o pensamento colaborativo para promover a proposição de valor geral.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/jaqueline-santos-65b16667/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Jaquelinesa82" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Freelancer</h3>
            <div class="subheading mb-3">Freelancer</div>
            <p>- Desenvolvimento de Sites gerenciáveis em Python/Django</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Atual - 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">ANALISTA GIS</h3>
            <div class="subheading mb-3">Shox do Brasil</div>
            <p>Atuação: Desenvolvimento de análises de serviços de manutenção, integração com bancos de dados e análise espacial.
              ArcGIS API para Python | ArcGIS for Developers Cliente: CAESB - Empresa de Saneamento Ambiental do Distrito Federal.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Julho 2013 - outubro 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">ASSISTENTE TÉCNICO</h3>
            <div class="subheading mb-3">CAENGE s.a</div>
            <p>
            Atuação: Prestação de serviço de cadastro técnico à Companhia de Saneamento do Distrito Federal nas áreas Centro e Norte.
              Elaboração de fichas técnicas, mapas temáticos e atualização de redes</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">julho 2009 - Junho 2013</span>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">CURSO DE INGLÊS</h3>
            <div class="subheading mb-3">BI-English Plus</div>
            <div></div>
            <p></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"> Fevereiro - 2021</span>
          </div>

      </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Faculdade Projeção</h3>
            <div class="subheading mb-3">BACHARELADO EM SISTEMA DE INFORMAÇÃO</div>
            <div></div>
            <p></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"> junho - 2009</span>
          </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">LINGUAGENS E FERRAMENTAS DE PROGRAMAÇÃO</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
             <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
             <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
             <i class="fab fa-git"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-aws"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-docker"></i>
          </li>
        </ul>

        <div class="subheading mb-3">FLUXO DE TRABALHO</div>
        <ul class="fa-ul mb-0">
<!--          <li>-->
<!--            <i class="fa-li fas fa-check"></i>-->
<!--            Develop Frontend, Responsive Design</li>-->
<!--          <li>-->
<!--            <i class="fa-li fas fa-check"></i>-->
<!--            Cross Browser Testing &amp; Debugging</li>-->
          <li>
            <i class="fa-li fas fa-check"></i>
            Desenvolva back-end com Python e Django</li>
          <li>
            <i class="fa-li fas fa-check"></i>
            Testando funcionalidades e interações</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Além de ser uma Desenvolvedora Web, aproveito a outra parte do meu tempo no aprendizado e comecei os estudos de Vue.js
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li far fa-trophy text-warning"></i>
            Web Development com Python e Django - Python Pro</li>
          <li>
            <i class="fa-li far fa-trophy text-warning"></i>
            APIs RESTful com Django Rest Framework - Udemy</li>
          
        </ul>
      </div>
    </section>

  </div>
{% endblock %}


